*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 245, 238);
}

h1{
  text-align: center;
  margin-top: 30px;
}

#main-input{
   
padding: 10px;
max-width: 90%;
margin: 0 auto;
  
}

.button-area{
    display: flex;
    justify-content:center;
    gap: 20px;
}

.input-area{

    
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    
}
.button-area{
margin-bottom: 20px;

}

#result-area{
    padding: 10px;
    max-width: 580px; 
    margin: 0 auto; 
}

@media only screen and (max-width: 600px) {

h1{
    font-size: x-large;
}

.input-area{
    flex-direction: column;
    
    }

.mobile{
    display: flex;
    gap: 5px;
}
.mobile>input, .mobile>select{
    
    width: 50%;
}

}