*{
    margin: 0;
    padding: 0;
}

h1{
  text-align: center;
}

#main-input{
   
padding: 10px;
max-width: 90%;
margin: 0 auto;
  
}

.button-area{
    display: flex;
    justify-content:center;
    gap: 20px;
}

.input-area{

    
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    
}
.button-area{
margin-bottom: 20px;

}

#result-area{
    padding: 10px;
    max-width: 600px; 
    margin: 0 auto; 
}

@media only screen and (max-width: 600px) {

.input-area{
    flex-direction: column;
    
    }

.mobile{
    display: flex;
    gap: 5px;
}
.mobile>input, .mobile>select{
    
    width: 50%;
}

}