*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 245, 238);
}

h1{
  text-align: center;
  margin-top: 30px;
}

#main-input{
   
padding: 10px;
max-width: 90%;
margin: 0 auto;
  
}

input,select{ 
    padding: 4px;   
}
.course-name{
    background-color: rgb(255, 224, 224);
}



.button-area{
    display: flex;
    justify-content:center;
    gap: 20px;
}

.input-area{

    
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    
}
.button-area{
margin-bottom: 20px;

}

#result-area{
    padding: 10px;
    max-width: 580px; 
    margin: 0 auto; 
}
#result-area{
    margin-bottom: 20px;
}
button{
    padding: 3px 8px;
    background-color: rgb(113, 113, 243);
    color: azure;
    border: 0px;
}
@media only screen and (max-width: 600px) {

h1{
    font-size: x-large;
}

input,select{ 
    padding: 2px;   
}


.input-area{
    flex-direction: column;
    gap: 5px;
    
    }

.mobile{
    display: flex;
    gap: 5px;
}
.mobile>input, .mobile>select{
    
    width: 50%;
}

}